<link rel="stylesheet" href="/css/pageNotFound.css">

<div class="container section--lg">
    <h1 class="title-404">Acceso denegado</h1>
    <p class="desc-404">Lo sentimos, No tienes permiso para acceder a esta pagina.</p>
    <a href="/" class="btn btn--sm mt-2">Volver al inicio</a>
</div>