<link rel="stylesheet" href="/css/store.css">
<link rel="stylesheet" href="/css/cart.css">

<section class="breadcrumb">
    {{> breadCrumpCart}}
</section>

<section class="cart section--lg container" data-cart-id="{{cart._id}}">
    {{> cart}}

    <div class="divider">
        <i class="fi fi-rr-fingerprint"></i>
    </div>
    
    {{> cartTotal}}
</section>

<script src="/js/cart.js"></script>
<script src="/js/ticket.js"></script>