<link rel="stylesheet" href="/css/login.css">

<section class="login-register section--lg">
    <div class="login-register__container container grid">
        <div class="login">
            <h3 class="section__title">
                Login
            </h3>
            {{> login}}
        </div>

        <div class="register">
            <h3 class="section__title">
                Crear una cuenta
            </h3>
            {{#if message}}
            <p class="success-alert">{{message}}</p>
            {{/if}}
            {{#if success}}
            <div class="success-alert">
                {{success}}
            </div>
            {{/if}}
            {{> register}}
        </div>
    </div>
</section>

<script src="/js/auth/login.js"></script>
<script src="/js/auth/validateForms.js"></script>