<link rel="stylesheet" href="/css/login.css">

<section class="login-register section--lg">
    <div class="login-register__container container grid">
        {{> login}}
        {{> register}}
    </div>
</section>

<script src="/js/validateForms.js"></script>