<link rel="stylesheet" href="/css/pageNotFound.css">

<div class="container section--lg">
    <h1 class="title-404">404 Not Found</h1>
    <p class="desc-404">Lo sentimos, la página que buscas no existe.</p>
    <a href="/" class="btn btn--sm mt-2">Volver al inicio</a>
</div>