<link rel="stylesheet" href="/css/detail.css">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/store.css">

<section class="breadcrumb">
    {{> breadCrumpPetDetail}}
</section>

<section class="details section--lg">
    <div class="details__container container grid">
        {{> petDetail}}
    </div>
</section>