<link rel="stylesheet" href="/css/profiles.css">

<section class="accounts section--lg">
    <div class="accounts__container container grid">
        {{> profileUserTabs}}
        <div class="tabs__content">
            {{> profileUserDashboard}}
            {{> profileUserOrders}}
            {{> profileUserUpdate}}
            {{> profileUserInfo}}
        </div>
    </div>
</section>

<script src="/js/products/productTabs.js"></script>
<script src="/js/profileUser.js"></script>