<link rel="stylesheet" href="/css/profiles.css">

<section class="accounts section--lg">
    <div class="accounts__container container grid">
        {{> profileAdminTabs}}
        <div class="tabs__content">
            {{> profileAdminDashboard}}
            {{> profileAdminUsers}}
            {{> profileAdminProducts}}
            {{> profileAdminTickets}}
            {{> profileAdminInfo}}
        </div>
    </div>
</section>

<script src="/js/profileAdmin/adminTabs.js"></script>
<script src="/js/profileAdmin/validateFormsAdmin.js"></script>