<link rel="stylesheet" href="/css/store.css" />

<section class="breadcrumb">
    {{> breadCrump}}
</section>

<section class="products section container">
    <p class="total__products">
        Tenemos <span>688</span> productos para tu peludo.
    </p>
    {{> productStore}}
    {{> paginationStore}}
</section>