.btn__wpp-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.btn__wpp {
    width: 200px;
    padding: 4px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--first-color-alt);
    transition: transform 0.3s ease;
}

.btn__wpp:hover {
    transform: scale(1.1);
}