<link rel="stylesheet" href="/css/about.css">

<div class="about container">
    <div class="about-left">
        <img src="/assets/img/about.jpg" alt="Imagen sobre Peludopolis" class="about-img">
        <img src="/assets/img/play-icon.png" alt="Icono de reproducción" class="play-icon">
    </div>

    <div class="about-right">
        <h3>Sobre Peludopolis</h3>
        <p>
            En Peludopolis, trabajamos para garantizar felicidad y salud a cada mascota a través de productos de alta
            calidad y asesoramiento experto.
        </p>
        <h3>Misión</h3>
        <p>Brindar bienestar y felicidad a cada mascota mediante productos de alta calidad y asesoramiento
            personalizado.</p>

        <h3>Visión</h3>
        <p>Ser la tienda de mascotas líder en confianza y excelencia, creando una comunidad dedicada al mejor cuidado.
        </p>
        <ul>
            <li style="margin-bottom: 10px;"><i class="fi fi-rr-bullet"></i> Priorizamos la salud y bienestar de las
                mascotas.</li>
            <li style="margin-bottom: 10px;"><i class="fi fi-rr-bullet"></i> Productos seguros y confiables para cada
                necesidad.</li>
            <li style="margin-bottom: 10px;"><i class="fi fi-rr-bullet"></i> Soluciones modernas para mejorar la vida de
                tu mascota.</li>
            <li><i class="fi fi-rr-bullet"></i> Atención personalizada y asesoramiento experto.</li>
        </ul>
    </div>
</div>

<div class="video-player hide">
    <video src="/assets/video/7971025-uhd_3840_2160_24fps.mp4" autoplay controls></video>
</div>

<script src="/js/about.js"></script>