<div class="payment__methods">
    <h3 class="checkout__title payment__title">Metodos de pago</h3>
    <div class="payment__options flex">
        <input type="radio" name="radio" class="payment__input" checked>
        <label for="" class="payment__label">Tranferencia bancaria directa</label>
    </div>
    <div class="payment__options flex">
        <input type="radio" name="radio" class="payment__input" checked>
        <label for="" class="payment__label">Pago con cheque
        </label>
    </div>
    <div class="payment__options flex">
        <input type="radio" name="radio" class="payment__input" checked>
        <label for="" class="payment__label">PayPal</label>
    </div>
</div>
<button class="btn btn--md">Realizar pedido</button>