<section class="checkout section--lg">
    <div class="checkout__container container grid">
        <div class="checkout__group">
            <h3 class="section__title">Ticket de compra</h3>
            <form action="" class="form grid">
                <input type="text" placeholder="Nombre" class="form__input">
                <input type="text" placeholder="Dirección" class="form__input">
                <input type="text" placeholder="Ciudad" class="form__input">
                <input type="text" placeholder="Pais" class="form__input">
                <input type="text" placeholder="Codigo Postal" class="form__input">
                <input type="text" placeholder="Telefono" class="form__input">
                <input type="email" placeholder="Email" class="form__input">
                <h3 class="checkout__title">Informacion adicional</h3>
                <textarea name="" placeholder="notas de la orden" cols="30" rows="10" class="form__input textarea"
                    id=""></textarea>
            </form>
        </div>

        <div class="checkout__group">
            <h3 class="section__title">Productos de la orden</h3>

            <table class="order__table">
                <tr>
                    <th colspan="2">Productos</th>
                    <th>Total</th>
                </tr>

                <tr>
                    <td>
                        <img src="/assets/img/product-2-1.jpg" alt="" class="order__img">
                    </td>
                    <td>
                        <h3 class="table__title">LBD Moon woman summer</h3>
                        <p class="table__quantity">x 2</p>
                    </td>
                    <td><span class="table__price">$180.00</span></td>
                </tr>

                <tr>
                    <td>
                        <img src="/assets/img/product-7-1.jpg" alt="" class="order__img">
                    </td>
                    <td>
                        <h3 class="table__title">Yidarton woman Summer blue</h3>
                        <p class="table__quantity">x 2</p>
                    </td>
                    <td><span class="table__price">$180.00</span></td>
                </tr>

                <tr>
                    <td>
                        <img src="/assets/img/product-1-2.jpg" alt="" class="order__img">
                    </td>
                    <td>
                        <h3 class="table__title">Yidarton woman Summer blue</h3>
                        <p class="table__quantity">x 2</p>
                    </td>
                    <td><span class="table__price">$180.00</span></td>
                </tr>

                <tr>
                    <td><span class="order__subtitle">Subtotal</span></td>
                    <td colspan="2"><span class="table__price">$280.00</span></td>
                </tr>

                <tr>
                    <td><span class="order__subtitle">Shipping</span></td>
                    <td colspan="2"><span class="table__price">Free Shipping</span></td>
                </tr>

                <tr>
                    <td><span class="order__subtitle">Total</span></td>
                    <td colspan="2"><span class="order__grand-total">$280.00</span></td>
                </tr>
            </table>

            <div class="payment__methods">
                <h3 class="checkout__title payment__title">Metodos de pago</h3>
                <div class="payment__options flex">
                    <input type="radio" name="radio" class="payment__input" checked>
                    <label for="" class="payment__label">Tranferencia bancaria directa</label>
                </div>
                <div class="payment__options flex">
                    <input type="radio" name="radio" class="payment__input" checked>
                    <label for="" class="payment__label">Pago con cheque
                    </label>
                </div>
                <div class="payment__options flex">
                    <input type="radio" name="radio" class="payment__input" checked>
                    <label for="" class="payment__label">PayPal</label>
                </div>
            </div>
            <button class="btn btn--md">Realizar pedido
            </button>
        </div>
    </div>
</section>