<ul class="breadcrumb__list flex container">
    <li><a href="/" class="breadcrumb__link">Inicio</a></li>
    <li><a href="" class="breadcrumb__link">/</a></li>
    <li><a href="/tienda" class="breadcrumb__link">Tienda</a></li>
    <li><a href="" class="breadcrumb__link">/</a></li>
    <li><a href="#" class="breadcrumb__link">Carrito de compras</a></li>
</ul>