<ul class="breadcrumb__list flex container">
    <li><a href="/" class="breadcrumb__link">Inicio</a></li>
    <li>/</li>
    <li><a href="/tienda" class="breadcrumb__link">Tienda</a></li>
    <li>/</li>
    <li><a href="#" class="breadcrumb__link">Detalle del producto</a></li>
</ul>