<ul class="breadcrumb__list flex container">
    <li><a href="/" class="breadcrumb__link">Inicio</a></li>
    <li><a href="" class="breadcrumb__link">/</a></li>
    <li><a href="#" class="breadcrumb__link">Mascotas en adopción</a></li>
</ul>