<nav aria-label="Ruta de navegación" class="breadcrumb__nav">
    <ul class="breadcrumb__list flex container">
        <li><a href="/" class="breadcrumb__link" aria-label="Ir a la página de inicio">Inicio</a></li>
        <li aria-hidden="true">/</li>
        <li><a href="/tienda" class="breadcrumb__link" aria-label="Ir a la tienda de mascotas">Tienda</a></li>
    </ul>
</nav>
