<link rel="stylesheet" href="/css/wppBtn.css" />

<div class="btn__wpp-wrapper">
    <a href="https://wa.me/3146381395" target="_blank" ><img src="/assets/img/btn-wpp.png" alt="whatsapp" class="btn__wpp" /></a>
</div>