<link rel="stylesheet" href="/css/wppBtn.css" />

<div class="btn__wpp-wrapper">
    <a href="https://wa.me/3146381395" target="_blank" rel="noopener noreferrer" 
        aria-label="Contactar por WhatsApp a soporte de Pet Shop">
        <img src="/assets/img/btn-wpp.png" alt="Chat de WhatsApp con Pet Shop" class="btn__wpp" />
    </a>
</div>
