<section class="categories container section">
    <h3 class="section__title">
        <span>Categorias</span>
        populares
    </h3>
    <div class="categories__container swiper">
        <div class="swiper-wrapper"></div>

        <div class="swiper-button-next">
            <i class="fi fi-rr-angle-small-right"></i>
        </div>
        <div class="swiper-button-prev">
            <i class="fi fi-rr-angle-small-left"></i>
        </div>
    </div>
</section>

<script src="/js/categories.js"></script>
<script src="/js/swiperCategories.js"></script>