
<div class="deals__item" style="display: none;">
    <div class="deals__group">
        <h3 class="deals__brand">
            Oferta de la semana
        </h3>
    </div>
    <h4 class="deals__title">
        Por la compra de un gimnasio rascador te obsequiamos un patacon
    </h4>
    <div class="deals__price ">
        <span class="new__price"><span>Precio en oferta:</span> 250.000</span>
        <span class="new__price" style="color: black; margin-top: 10px">Precio antiguo:</span> <span
            class="old__price">380.000</span>
    </div>
    <div class="deals__group">
        <p class="deals__countdown-text">
            La oferta finaliza en:
        </p>
        <div class="countdown" id="countdown-sale"></div>
        <hr>
    </div>
    <div class="deals__btn">
        <a href="#" class="btn btn--md">
            Comprar Ahora
        </a>
    </div>
</div>

<div class="deals__item" style="display: none;">
    <div class="deals__group">
        <h3 class="deals__brand">
            peludopolis Fest
        </h3>
    </div>
    <h4 class="deals__title">
        Productos para consentir tu peludo
    </h4>
    <div class="deals__fest flex"></div>
    <div class="deals__group">
        <p class="deals__countdown-text">
            Peludopolis Fest comienza en:
        </p>
        <div class="countdown" id="countdown-event"></div>
        <hr>
    </div>
    <div class="deals__btn">
        <a href="#" class="btn btn--md">
            Mas información
        </a>
    </div>
</div>

<script src="/js/deals.js"></script>