<div class="details__tabs-content">
    <div class="detail__tabs-content active-tab" content id="reviews">
        <div class="reviews__container grid">
            <div class="review__single">
                <div>
                    <img src="/assets/img/avatar-1.jpg" alt="" class="review__img">
                    <h4 class="review__title">Jacky Chan</h4>
                </div>

                <div class="review__data">
                    <div class="review__rating">
                        <i class="fi fi-rr-star"></i>
                        <i class="fi fi-rr-star"></i>
                        <i class="fi fi-rr-star"></i>
                        <i class="fi fi-rr-star"></i>
                        <i class="fi fi-rr-star"></i>
                    </div>
                    <p class="review__description">
                        Thank you very fast shipping from poland only 3 days.
                    </p>
                    <span class="review__date">
                        December 12, 2023 at 3:12 pm
                    </span>
                </div>
            </div>
            <div class="review__single">
                <div>
                    <img src="/assets/img/avatar-2.jpg" alt="" class="review__img">
                    <h4 class="review__title">Jacky Chan</h4>
                </div>

                <div class="review__data">
                    <div class="review__rating">
                        <i class="fi fi-rr-star"></i>
                        <i class="fi fi-rr-star"></i>
                        <i class="fi fi-rr-star"></i>
                        <i class="fi fi-rr-star"></i>
                        <i class="fi fi-rr-star"></i>
                    </div>
                    <p class="review__description">
                        Thank you very fast shipping from poland only 3 days.
                    </p>
                    <span class="review__date">
                        December 12, 2023 at 3:12 pm
                    </span>
                </div>
            </div>
            <div class="review__single">
                <div>
                    <img src="/assets/img/avatar-3.jpg" alt="" class="review__img">
                    <h4 class="review__title">Jacky Chan</h4>
                </div>

                <div class="review__data">
                    <div class="review__rating">
                        <i class="fi fi-rr-star"></i>
                        <i class="fi fi-rr-star"></i>
                        <i class="fi fi-rr-star"></i>
                        <i class="fi fi-rr-star"></i>
                        <i class="fi fi-rr-star"></i>
                    </div>
                    <p class="review__description">
                        Thank you very fast shipping from poland only 3 days.
                    </p>
                    <span class="review__date">
                        December 12, 2023 at 3:12 pm
                    </span>
                </div>
            </div>
        </div>

        <div class="review__form">
            <h4 class="review__form-title">Dejar un comentario</h4>

            <div class="rate__product">
                <i class="fi fi-rr-star"></i>
                <i class="fi fi-rr-star"></i>
                <i class="fi fi-rr-star"></i>
                <i class="fi fi-rr-star"></i>
                <i class="fi fi-rr-star"></i>
            </div>
            <form action="" class="form grid">
                <textarea class="form__input textarea" placeholder="Escribe un comentario"></textarea>
                <div class="form__group grid">
                    <input type="text" placeholder="Nombre" class="form__input">
                    <input type="email" placeholder="email" class="form__input">
                </div>
                <div class="form__btn">
                    <button class="btn">Comentar</button>
                </div>
            </form>
        </div>
    </div>
</div>