<div class="filters">
  <form class="form flex-between">
    <label class="label">
      filtrar precio:
      <select class="select-field" id="filter-select">
        <option value="/tienda?sort=asc">Menor precio</option>
        <option value="/tienda?sort=desc">Mayor precio</option>
      </select>
    </label>
  </form>
</div>