<link rel="stylesheet" href="/css/footer.css" />

<footer class="footer container">
    <div class="footer__container grid">
        <div class="footer__content">
            <a href="/" class="footer__logo">
                <img src="/assets/img/logo.svg" alt="" class="footer__logo-img">
            </a>

            <h4 class="footer__subtitle">Contacto</h4>
            <div id="location"></div>

            <div class="footer__social">
                <h4 class="footer__subtitle">Siguenos</h4>
                <div class="footer__social-links flex" id="social-links"></div>
            </div>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Direccion</h3>
            <ul class="footer__links" id="footer-links"></ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Mi Cuenta</h3>
            <ul class="footer__links" id="account-links"></ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Formas de pago seguro</h3>
            <img src="/assets/img/payment-method.png" alt="metodos de pago" class="payment__img">
        </div>
    </div>

    <div class="footer__bottom">
        <p class="copyright">&copy; 2025 evara. Todos los derechos reservasdos</p>
        <span class="designer">Diseñado por Gabriel Castro Ramirez</span>
    </div>
</footer>

<script src="/js/footer.js"></script>