<link rel="stylesheet" href="/css/footer.css" />

<footer class="footer container" aria-labelledby="footer-title">

    <div class="footer__container grid">
        <div class="footer__content">

            <h3 class="footer__subtitle">Contacto</h3>
            <div id="location" aria-label="Ubicación de la tienda"></div>

            <div class="footer__social">
                <h3 class="footer__subtitle">Síguenos en redes sociales</h3>
                <div class="footer__social-links flex" id="social-links" aria-label="Enlaces a redes sociales">
                </div>
            </div>
        </div>

        <div class="footer__content">
            <h3 class="footer__subtitle">Ayuda</h3>
            <ul class="footer__links" id="footer-links" aria-label="Ubicación física de la tienda"></ul>
        </div>

        <div id="modal-terms" class="modal-terms">
            <div class="modal-content-terms">
                <span class="close-terms">&times;</span>
                <div class="terms__modal-wrapper section">
                    <div class="terms">
                        {{> terms}}
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-privacy" class="modal-privacy">
            <div class="modal-content-privacy">
                <span class="close-privacy">&times;</span>
                <div class="privacy__modal-wrapper section">
                    <div class="terms">
                        {{> privacy}}
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-support" class="modal-support">
            <div class="modal-content-support">
                <span class="close-support">&times;</span>
                <div class="support__modal-wrapper section">
                    <div class="terms">
                        {{> support}}
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__content">
            <h3 class="footer__subtitle">Accesos</h3>
            <ul class="footer__links" id="account-links" aria-label="Accesos de usuario"></ul>
        </div>

        <div id="modal-about" class="modal-about">
            <div class="modal-content-about">
                <span class="close-about">&times;</span>
                <div class="about__modal-wrapper section">
                    <div class="about">
                        {{> about}}
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-faqs" class="modal-faqs">
            <div class="modal-content-faqs">
                <span class="close-faqs">&times;</span>
                <div class="faqs__modal-wrapper section">
                    <div class="faqs">
                        {{> faqs}}
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__content">
            <img src="/assets/img/pagos-epayco-png.png" alt="Métodos de pago aceptados en Pet Shop"
                class="payment__img">
        </div>
    </div>

    <div class="footer__bottom">
        <p class="copyright"><span class="title">&copy; Peludopolis.</span> Todos los derechos reservados</p>
    </div>
</footer>

<script src="/js/footer.js"></script>