<form action="" class="form grid" aria-labelledby="form-title">
    <h2 id="form-title">Iniciar sesión</h2>

    <label for="email" class="form__label">Correo electrónico:</label>
    <input type="email" placeholder="Tu Email" id="email" class="form__input" required aria-label="Ingresa tu correo electrónico">

    <label for="password" class="form__label">Contraseña:</label>
    <input type="password" placeholder="Tu Contraseña" id="password" class="form__input" required aria-label="Ingresa tu contraseña">

    <p class="forgot__text">
        ¿Olvidaste tu contraseña? 
        <a href="/reset-password" class="forgot__pass">Recupérala aquí</a>
    </p>

    <div class="form__btn">
        <button class="btn" id="SignInBtn" aria-label="Iniciar sesión en tu cuenta">Login</button>
    </div>
</form>
