<link rel="stylesheet" href="/css/nav.css">

<header class="header">
    
    <div class="header__top">
        <div class="header__container container">
            <div class="header__contact">
                <span>(+57) 314 638 1395</span>
                <span>Nuestra ubicación</span>
            </div>
            <p class="header__alert-news">
                Ofertas de gran valor, ahorre más con cupones
            </p>
            <a href="/login" class="header__top-action">
                Ingresa / Registrate
            </a>
        </div>
    </div>

    <nav class="nav container">
        <a href="/" class="nav__logo">
            <img src="/assets/img/logo.svg" alt="logo" class="nav__logo-img">
        </a>

        <div class="nav__menu" id="nav-menu">
            <div class="nav__menu-top">
                <a href="/" class="nav__menu-logo">
                    <img src="/assets/img/logo.svg" alt="">
                </a>

                <div class="nav__close" id="nav-close">
                    <i class="fi fi-rr-cross-small"></i>
                </div>
            </div>
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/" class="nav__link active-link">Inicio</a>
                </li>
                <li class="nav__item">
                    <a href="/tienda" class="nav__link">tienda</a>
                </li>

                <li class="nav__item">
                    <a href="/perfil-usuario" class="nav__link">Mi cuenta</a>
                </li>
                <li class="nav__item">
                    <a href="/login" class="nav__link">Login</a>
                </li>
            </ul>
            <div class="header__search">
                <input type="text" placeholder="Buscar productos" class="form__input">
                <button class="search__btn"><img src="/assets/img/search.png" alt="Busqueda"></button>
            </div>
        </div>

        <div class="header__user-actions">
            <a href="/lista-deseos" class="header__action-btn">
                <img src="/assets/img/icon-heart.svg" alt="">
                <span class="count">3</span>
            </a>
            <a href="/cart/1" class="header__action-btn">
                <img src="/assets/img/icon-cart.svg" alt="">
                <span class="count">3</span>
            </a>

            <div class="header__action-btn nav__toggle" id="nav-toggle">
                <img src="/assets/img/menu-burger.svg" alt="">
            </div>
        </div>
    </nav>
</header>

<script src="/js/nav.js"></script>