<link rel="stylesheet" href="/css/newsLetter.css">

<section class="newsletter section">
    <div class="newsletter__container container grid">
        <h3 class="newsletter__title">
            <img src="/assets/img/icon-email.svg" alt="" class="newsletter__icon">
            Suscríbete al boletín
        </h3>
        <p class="newsletter__description">
            ...and recive $25 coupon for firts shopping
        </p>
        <form action="" class="newsletter__form">
            <input type="text" placeholder="Ingrese su email" class="newsletter__input">
            <button type="submit" class="newsletter__btn">Suscribirse</button>
        </form>
    </div>
</section>