<link rel="stylesheet" href="/css/newsLetter.css">

<section class="newsletter section">
    <div class="newsletter__container container grid">
        <h3 class="newsletter__title">
            Suscríbete a nuestro boletin informativo
        </h3>
        <p class="newsletter__description">
            Mantente al tanto de nuestras novedades, ofertas y promociones exclusivas.
        </p>
        <form action="" class="newsletter__form">
            <input type="text" placeholder="Ingrese su email" class="newsletter__input">
            <button type="submit" class="newsletter__btn" id="suscribe">Suscribirse</button>
        </form>
    </div>
</section>

<script src="/js/newsletter.js"></script>