<div class="tab__content" content id="orders">
    <h3 class="tab__header">Tus ordenes</h3>
    <div class="tab__body">
        <table class="placed__order-table">
            <tr></tr>
        </table>

        <div id="modal-order-user" class="modal-order-user">
            <div class="modal-content-order-user">
                <span class="close-order-user">&times;</span>
                <h3>Selecciona una opción:</h3>
                <div class="buttons-container">
                    <button class="cancel__order-btn"><i class="fi fi-rr-cross-circle"></i> Cancelar orden</button>
                    <button class="delete__order-btn"><i class="fi fi-rr-trash"></i> Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>