<div class="account__tabs">
    <p class="account__tab active__tab" data-target="#dashboard">
        <i class="fi fi-rr-settings-sliders"></i> DashBoard
    </p>

    <p class="account__tab active__tab" data-target="#users">
        <i class="fi fi-rr-shopping-bag"></i> Usuarios
    </p>

    <p class="account__tab active__tab" data-target="#products">
        <i class="fi fi-rr-user"></i> Productos
    </p>

    <p class="account__tab active__tab" data-target="#tickets">
        <i class="fi fi-rr-marker"></i> Tickets
    </p>

    <p class="account__tab active__tab" data-target="#address" style="display: none;">
        <i class="fi fi-rr-marker"></i> Mis Datos
    </p>

    <p class="account__tab active__tab logout-button">
        <i class="fi fi-rr-exit"></i> Salir
    </p>
</div>