<div class="tab__content active-tab" content id="dashboard">
    <h3 class="tab__header" id="dashboard-name"></h3>
    <div class="tab__body">
        <p class="tab__description">Desde el panel de control de administrador. Puede verificar y ver fácilmente
            todos los datos registrados en la base de adtos de la ecommenrce, podras administrar los productos, usuarios
            y las compras
        </p>
    </div>
</div>