<div class="tab__content active-tab" content id="dashboard">
    <h3 class="tab__header">Administrador ecommenrce</h3>
    <div class="tab__body">
        <p class="tab__description">Desde el panel de control de tu cuenta. Puede verificar y ver fácilmente
            tus pedidos recientes, administrar sus direcciones de envío y facturación y editar su contraseña
            y detalles de la cuenta
        </p>
    </div>
</div>