<div class="tab__content" content id="orders">
    <h3 class="tab__header">Tus ordenes</h3>
    <div class="tab__body">
        <table class="placed__order-table">
            <tr>
                <th>Ordenes</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>

            <tr>
                <td>#1233</td>
                <td>March 45, 2020</td>
                <td>Processing</td>
                <td>$125.00</td>
                <td>
                    <a href="#" class="view__order">Ver</a>
                </td>
            </tr>

            <tr>
                <td>#1242</td>
                <td>June 45, 2020</td>
                <td>Completed</td>
                <td>$364.00</td>
                <td>
                    <a href="#" class="view__order">Ver</a>
                </td>
            </tr>

            <tr>
                <td>#1233</td>
                <td>March 45, 2020</td>
                <td>Processing</td>
                <td>$125.00</td>
                <td>
                    <a href="#" class="view__order">Ver</a>
                </td>
            </tr>
        </table>
    </div>
</div>