<div class="tab__content active-tab" id="dashboard" role="tabpanel" aria-labelledby="dashboard-name">
    <h3 class="tab__header" id="dashboard-name">Panel de administración</h3>
    <div class="tab__body">
        <p class="tab__description">
            Desde el panel de control de administrador, puedes visualizar y gestionar todos los datos registrados en la base de datos de la tienda en línea. Administra los productos, usuarios y compras de manera eficiente.
        </p>
    </div>
</div>
