<div class="register">
    <h3 class="section__title">
        Crear una cuenta
    </h3>

    {{#if message}}
    <p class="error-message">{{message}}</p>
    {{/if}}

    {{#if success}}
    <div class="success-alert">
        {{success}}
    </div>
    {{/if}}

    <form action="/api/v1/auth/register" method="POST" class="form grid" id="register-form">
        <input type="text" placeholder="Ingresa tu nombre" id="name" name="name" class="form__input">
        <input type="text" placeholder="Ingresa tu apellido" id="last_name" name="last_name" class="form__input">
        <input type="email" placeholder="Ingresa tu Email" id="email" name="email" class="form__input email">
        <input type="password" placeholder="Ingresa tu Contraseña" id="password" name="password" class="form__input pass">
        <input type="number" placeholder="Ingresa tu edad" id="age" name="age" class="form__input">
        <div class="form flex-between">
            <label class="label">
                Eres un:
                <select name="role" class="select-field">
                    <option value="usuario">Usuario</option>
                </select>
            </label>
            <label class="label">
                Género:
                <select name="gender" class="select-field">
                    <option value="">Seleccionar</option>
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                </select>
            </label>
        </div>
        <div class="label select-city">
            <select class="select-field" name="city" id="city">
                <option value="" disabled selected>Selecciona tu ciudad</option>
                <option value="bogota">Bogotá</option>
                <option value="medellin">Medellín</option>
                <option value="cali">Cali</option>
                <option value="barranquilla">Barranquilla</option>
                <option value="cartagena">Cartagena</option>
                <option value="manizales">Manizales</option>
                <option value="pereira">Pereira</option>
                <option value="bucaramanga">Bucaramanga</option>
                <option value="santa-marta">Santa Marta</option>
                <option value="villavicencio">Villavicencio</option>
                <option value="ibague">Ibagué</option>
                <option value="neiva">Neiva</option>
                <option value="popayan">Popayán</option>
                <option value="sincelejo">Sincelejo</option>
                <option value="riohacha">Riohacha</option>
                <option value="valledupar">Valledupar</option>
                <option value="monteria">Montería</option>
            </select>
        </div>
        <input type="text" placeholder="Ingresa tu teléfono" id="phone" name="phone" class="form__input">
        <input type="text" placeholder="Ingresa tu dirección" id="address" name="address" class="form__input">

        <div class="form__btn">
            <button class="btn">Registrarse</button>
        </div>
    </form>
</div>