<section class="showcase section">
    <div class="showcase__container container grid">
        <div class="showcase__wrapper">
            <h3 class="section__title">
                Lanzamientos candentes
            </h3>

            <div class="showcase__item">
                <a href="#" class="showcase__img-box">
                    <img src="/assets/img/showcase-img-1.jpg" alt="" class="showcase__img">
                </a>

                <div class="showcase__content">
                    <a href="#">
                        <h4 class="showcase__title">Floral print casual cotton dress</h4>
                    </a>

                    <div class="showcase__price flex">
                        <span class="new__price">238.85</span>
                        <span class="old__price">245.85</span>
                    </div>
                </div>
            </div>

            <div class="showcase__item">
                <a href="#" class="showcase__img-box">
                    <img src="/assets/img/showcase-img-2.jpg" alt="" class="showcase__img">
                </a>

                <div class="showcase__content">
                    <a href="#">
                        <h4 class="showcase__title">Ruffled solid long sleeve</h4>
                    </a>

                    <div class="showcase__price flex">
                        <span class="new__price">238.85</span>
                        <span class="old__price">245.85</span>
                    </div>
                </div>
            </div>

            <div class="showcase__item">
                <a href="#" class="showcase__img-box">
                    <img src="/assets/img/showcase-img-3.jpg" alt="" class="showcase__img">
                </a>

                <div class="showcase__content">
                    <a href="#">
                        <h4 class="showcase__title">Multi-Color Print V-neck </h4>
                    </a>

                    <div class="showcase__price flex">
                        <span class="new__price">238.85</span>
                        <span class="old__price">245.85</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="showcase__wrapper">
            <h3 class="section__title">
                Ofertas y Outlet
            </h3>

            <div class="showcase__item">
                <a href="#" class="showcase__img-box">
                    <img src="/assets/img/showcase-img-4.jpg" alt="" class="showcase__img">
                </a>

                <div class="showcase__content">
                    <a href="#">
                        <h4 class="showcase__title">Fish print patched shirt</h4>
                    </a>

                    <div class="showcase__price flex">
                        <span class="new__price">238.85</span>
                        <span class="old__price">245.85</span>
                    </div>
                </div>
            </div>

            <div class="showcase__item">
                <a href="#" class="showcase__img-box">
                    <img src="/assets/img/showcase-img-5.jpg" alt="" class="showcase__img">
                </a>

                <div class="showcase__content">
                    <a href="#">
                        <h4 class="showcase__title">Ruffled solid long sleeve</h4>
                    </a>

                    <div class="showcase__price flex">
                        <span class="new__price">238.85</span>
                        <span class="old__price">245.85</span>
                    </div>
                </div>
            </div>

            <div class="showcase__item">
                <a href="#" class="showcase__img-box">
                    <img src="/assets/img/showcase-img-6.jpg" alt="" class="showcase__img">
                </a>

                <div class="showcase__content">
                    <a href="#">
                        <h4 class="showcase__title">Multi-Color Print V-neck </h4>
                    </a>

                    <div class="showcase__price flex">
                        <span class="new__price">238.85</span>
                        <span class="old__price">245.85</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="showcase__wrapper">
            <h3 class="section__title">
                Mas vendidos
            </h3>

            <div class="showcase__item">
                <a href="#" class="showcase__img-box">
                    <img src="/assets/img/showcase-img-7.jpg" alt="" class="showcase__img">
                </a>

                <div class="showcase__content">
                    <a href="#">
                        <h4 class="showcase__title">Fish print patched shirt</h4>
                    </a>

                    <div class="showcase__price flex">
                        <span class="new__price">238.85</span>
                        <span class="old__price">245.85</span>
                    </div>
                </div>
            </div>

            <div class="showcase__item">
                <a href="#" class="showcase__img-box">
                    <img src="/assets/img/showcase-img-8.jpg" alt="" class="showcase__img">
                </a>

                <div class="showcase__content">
                    <a href="#">
                        <h4 class="showcase__title">Ruffled solid long sleeve</h4>
                    </a>

                    <div class="showcase__price flex">
                        <span class="new__price">238.85</span>
                        <span class="old__price">245.85</span>
                    </div>
                </div>
            </div>

            <div class="showcase__item">
                <a href="#" class="showcase__img-box">
                    <img src="/assets/img/showcase-img-9.jpg" alt="" class="showcase__img">
                </a>

                <div class="showcase__content">
                    <a href="#">
                        <h4 class="showcase__title">Multi-Color Print V-neck </h4>
                    </a>

                    <div class="showcase__price flex">
                        <span class="new__price">238.85</span>
                        <span class="old__price">245.85</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="showcase__wrapper">
            <h3 class="section__title">
                Tendencia
            </h3>

            <div class="showcase__item">
                <a href="#" class="showcase__img-box">
                    <img src="/assets/img/showcase-img-4.jpg" alt="" class="showcase__img">
                </a>

                <div class="showcase__content">
                    <a href="#">
                        <h4 class="showcase__title">Fish print patched shirt</h4>
                    </a>

                    <div class="showcase__price flex">
                        <span class="new__price">238.85</span>
                        <span class="old__price">245.85</span>
                    </div>
                </div>
            </div>

            <div class="showcase__item">
                <a href="#" class="showcase__img-box">
                    <img src="/assets/img/showcase-img-5.jpg" alt="" class="showcase__img">
                </a>

                <div class="showcase__content">
                    <a href="#">
                        <h4 class="showcase__title">Ruffled solid long sleeve</h4>
                    </a>

                    <div class="showcase__price flex">
                        <span class="new__price">238.85</span>
                        <span class="old__price">245.85</span>
                    </div>
                </div>
            </div>

            <div class="showcase__item">
                <a href="#" class="showcase__img-box">
                    <img src="/assets/img/showcase-img-6.jpg" alt="" class="showcase__img">
                </a>

                <div class="showcase__content">
                    <a href="#">
                        <h4 class="showcase__title">Multi-Color Print V-neck </h4>
                    </a>

                    <div class="showcase__price flex">
                        <span class="new__price">238.85</span>
                        <span class="old__price">245.85</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>